/* Google fonts imported */
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");

/* set default values */
* {
    margin: 0;
    border: none;
    padding: 0;
    /* background-color: #484d5c; */
    background-color:#696969;
}

/* applying font styles to the body */
body {
    font-family: 'Cardo', serif;
    color: #c0ccd4;
   }
   h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #ffce00;
   }

/* style logo and navigation bar */

#logo {
    float: left;
    font-size: 300%;
}

#navigation {
    font-size: 115%;
    float: right;
    padding-top: 20px;
}

#navigation li {
    display: inline;
    margin-right: 15px;
}

#navigation a {
    color: inherit;
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 1.2px solid #c0ccd4 ;
}

.active {
    border-bottom: 1.2px solid #c0ccd4 ;
}

/* banner and motivation video*/

#banner {
    width: 100%;
    height: 500px;
    clear: both;
    position: relative;
}
#banner-image {
    width: 100%;
    height: 500px;
    background-image: url(gallery/images/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

/* motivation quotation on the banner*/
#motivation-quote{
    text-transform: uppercase;
    font-size: 110%;
    color: #696969;

    width: 200px;
    height: 150px;

    position: absolute;
    bottom: 20px;
    left: 300px;

    background-color: rgba(236, 236, 236, 0.7);

}

/* boxing benefits*/

#boxing-benefits {
    height: 400px;
    padding-top: 30px;
}

#boxing-benefits>h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 250%;
}

.inline {

    border: 1px solid snow;
    padding-top: 30px;
    width: 20%;
    height: 200px;
    float:left;
    padding: 15px 0;
    margin: 0 35px;

}

.inline h3, .inline p {
    text-align: center;
}

.inline p {
    padding: 10px 20px;
}

.inline h3 {
    font-size: 180%;
}