/* Google fonts imported */
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");

/* set default values */
* {
    margin: 0;
    border: none;
    padding: 0;
    background-color: #484d5c;
}

/* applying font styles to the body */
body {
    font-family: 'Cardo', serif;
    color: #c0ccd4;
   }
   h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #ffce00;
   }

/* style logo and navigation bar */

#logo {
    float: left;
    font-size: 250%;
}

#navigation {
    font-size: 115%;
    float: right;
    padding-top: 20px;
}

#navigation li {
    display: inline;
    margin-right: 15px;
}

#navigation a {
    color: inherit;
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 1.2px solid #c0ccd4 ;
}

.active {
    border-bottom: 1.2px solid #c0ccd4 ;
}